@import url(https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    margin: 0;
    padding: 0;
    font-family: InterVariable, 'Roboto', sans-serif;
    background-color: #111;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
}
.align {
    align-items: center;
}
.justify {
    justify-content: center;
}
.flex-col {
    flex-direction: column;
}
.full-w {
    width: 100%;
}
.h-90 {
    height: 90%;
}
.gap-1 {
    gap: 1rem;
}
.gap-05 {
    gap: 0.5rem;
}
.wavebg-one {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.movie-card {
    width: 180px;
    flex-shrink: 0;
}
.movie-card img {
    width: 100%;
    transition: all 0.15s ease;
    border-radius: 12px;
    cursor: pointer;
}
.movie-card:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px #202025;
}
.movie-list {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
    /* purple thin scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #202025 #111;
    user-select: none;
}
.movie-card span {
    display: block;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #aaa;
}
.list-list {
    overflow-y: auto;
    height: 100%;
    padding: 0.2rem;
    /* purple thin scrollbar */
    scrollbar-width: none;
    user-select: none;
}
.wavebg-canvas {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.nav-section {
    width: 15%;
    flex-shrink: 0;
}
.media-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    width: 70%;
}
.media-options a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #202025;
    transition: all 0.3s;
}
.media-options a:hover {
    background-color: #404060;
    color: #eef;
}
.mini-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 0.5rem;
}
.mini-options a {
    text-decoration: none;
    color: white;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #202025;
    transition: all 0.3s;
}
.movie-page {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
.movie-page iframe {
    width: calc(80% - 30px);
    height: 60%;
    margin-top: 20px;
    border-radius: 12px;
    border: none;
    border: 1px solid #32383e50;
}
.info-card {
    width: 80%;
    padding: 1rem;
    height: 30%;
    border: 1px solid #32383e;
    border-radius: 12px;
}
.info-card img {
    height: 100%;
    border: 2px solid #3a3f44;
    border-radius: 12px;
}
.servers {
    width: 240px;
}
.server {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    background: #222;
    padding: 0.4rem 0.75rem;
    transition: all 0.2s ease;
}
.server:hover {
    background: #333;
}
.hide-on-desktop {
    display: none;
}

@media (max-width: 768px) {
    .servers {
        width: 120px;
    }
    .movie-page iframe {
        width: 100%;
        height: 30%;
    }
    .content {
        width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }
    .media-options {
        width: 100%;
    }
    .movie-card {
        width: 120px;
    }
    .media-options a {
        font-size: 12px;
        padding: 0.5rem 0.6rem;
    }
    .info-card {
        width: 100%;
    }
    .info-card .details {
        display: none;
    }
    .hide-on-desktop {
        display: flex;
    }
}
.server.thin {
    padding: 0.2rem 0.5rem;
}
.movie-page.fullscreen iframe {
    width: 100%;
    height: 100%;
}
.movie-page.fullscreen .info-card {
    display: none;
}